/* *home-section  */

.home-section img {
    max-width: 100%;
    width: 50rem;
    height: 50rem;
    object-fit: cover;
}
.home-section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-section article a {
    background-color: #FFCA41;
    width: 50rem;
    text-decoration: none;
    color: white;
}
.home-section article h2 {
    padding-left: 1rem;
    font-size: 2rem;
}
.home-section article p {
    font-size: 1.5rem;
    width: 50rem;
}

/* *overview-section  */

.overview-section a:first-of-type {
    margin-bottom: 2rem;
}

.details {
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #FFCA41;
    padding: 1rem;
    border-radius: 15rem 5rem;
    color: white;

}

.overview-section p {
    margin-bottom: 2.8rem;
}

/* .overview-section img {
    max-width: 100%;
    height: 20rem;
    object-fit: cover;
} */
.article-img {
    max-width: 100%;
    height: 20rem;
    object-fit: cover;
}

.img-article {
    width: 20rem;
}
.article {
    width: 20rem;
}

.overview-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overview-section div {
    width: 20rem;
    text-align: center;
    margin-bottom: 2.5rem;
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.overview-section article {
    margin-bottom: 2rem;
}

.arrow {
    max-width: 100%;
    height: 5rem;
    object-fit: cover;
}